.DS_Store
Thumbs.db
.env
/FairyTaleDefender/Assets/AddressableAssetsData/link.xml.meta
/FairyTaleDefender/Assets/AddressableAssetsData/link.xml
*.blend1
/FairyTaleDefender/Assets/ShaderGraphScreenshots.meta
/FairyTaleDefender/Assets/ShaderGraphScreenshots
